@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right,
      rgb(15, 12, 41),
      rgb(48, 43, 99),
      rgb(36, 36, 62));
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.quizBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max(60vw, 600px);
  background: linear-gradient(115deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
}

.pageHead {
  text-align: center;
  font-size: 60px;
  font-weight: 500;
}

.question {
  width: 80%;
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
}

.options {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 25px;
  margin-top: 40px;
  text-align: center;
  gap: 40px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(115deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  padding: 10px 15px;
  backdrop-filter: blur(10px);
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}

.option:hover {
  transform: scale(0.95);
}

.round {
  animation: 5s roundRotate infinite linear;
}

@keyframes roundRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(3600deg);
  }
}

.extra {
  width: 85%;
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  margin-top: 15px;
}

.powerUp {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}

button {
  border: none;
  outline: none;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  color: #fffF;
}

.timeIncrease {
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s linear;
}

.timeIncrease:hover {
  transform: scale(0.98);
}

.cheat {
  font-size: 15px;
  font-weight: 600;
  padding: 7px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s linear;
}

.cheat:hover {
  transform: scale(0.98);
}

.quit,
.newGame {
  font-size: 20px;
  width: 300px;
  margin-block: 20px;
  padding: 7px 15px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.3s linear;
  justify-content: center;
  align-items: center;
}

.quit:hover {
  transform: translateY(-2px) scale(0.97);
}

.time {
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.score {
  text-align: center;
  display: none;
  font-size: 20px;
}

.newGame {
  display: none;
}
@media(width<1230px){
  .pageHead{
    font-size: 40px;
  }
  .question{
    font-size: 20px;
  }
  .option{
    font-size: 15px;
    gap: 30px;
  }
}

@media(width<768px){
  .quizBox{
    width: 80%;
  }
  .pageHead{
    font-size: 30px;
  }
  .options{
    grid-template-columns: 1fr;
    margin-top: 20px;
    gap: 20px;
  }
  .question{
    font-size: 16px;
  }
  .extra{
    width: 100%;
    padding: 20px;
    margin-top: 0px;
    justify-content: center;
    gap:20px
  }
  .powerUp{
    font-size: 16px;
  }
  .timeIncrease{
    width: 35px;
    height: 35px;
    font-size: 16px;
    padding: unset;
  }
  .cheat{
    font-size: 12px;
  }
  .time{
    font-size: 20px;
  }
  .quit, .newGame {
    font-size: 18px;
    width: 240px;
    margin-block: 15px;
}
.score{
  font-size: 18px;
}
}
@media(width<478px){
  .quizBox{
    width: 90%;
  }
  .pageHead{
    font-size: 20px;
    width: 100%;
  }
  .question{
    font-size: 12px;
    width: 100%;
  }
  .options{
    width: 100%;
  }
  .option{
    font-size: 12px;
    padding: 8px 15px;
  }
  .extra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .powerUp{
    gap: 10px;
    font-size: 12px;
  }
  .quit, .newGame {
    font-size: 16px;
    width: 200px;
    margin-block: 10px;
  }
}