* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to right,
    rgb(15, 12, 41),
    rgb(48, 43, 99),
    rgb(36, 36, 62)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.quizBox {
  width: 70vw;
  height: 80vh;
  border: 2px solid;
}
.pageHead {
  text-align: center;
  font-size: 60px;
  padding-top: 20px;
}
.question {
  text-align: center;
  padding: 20px 20px 20px 20px;
  font-size: 27px;
}
.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 50px;
  font-size: 25px;
  margin-top: 40px;
  text-align: center;
  gap: 40px;
}
.option {
  padding: 20px 0px;
  /* font-size: 26px; */
  border: 2px solid black;
  cursor: pointer;
}
.extra {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 15px;
}
.powerUp {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}
.powerUp img {
  width: 50px;
  cursor: pointer;
}
.quit {
  font-size: 20px;
  padding: 7px 15px;
  cursor: pointer;
  border-radius: 10px;
}
.time{
  font-size: 25px;
}
.score {
  text-align: center;
  display: none;
  font-size: 20px;
}
.newGame {
  display: none;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}
