* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
      to right,
      rgb(15, 12, 41),
      rgb(48, 43, 99),
      rgb(36, 36, 62)
    );
    display: flex;
    justify-content: center;
    align-items: center;
  }